body{
    font-family: 'Montserrat', sans-serif;
}

#menu{
    float: left; 
    width: 100%; 
    padding-bottom: 15px;
}

#titulo{
    float:left; 
    width: 70%;
}

a{
    text-decoration: none;
    color:#000;
}

h3{
    text-decoration: none;
    color:#000;
    text-align: left;
}

#cuerpo h3{
    color:#fff;
    text-align: center;
}

.texto_verde{
    color: #1abc9c;
}